
/* Basic */
$white: #ffffff;
$black: #000000;

/* Blues */
$blue-1f: #1f253d;
$blue-39: #394264;
$blue-50: #50597b;

$blue-1a: #1a4e95;
$blue-34: #3468af;
$blue-35: #35aadc;
$blue-4f: #4fc4f6;

/* Reds */
$red-dark: #cc324b;
$red-light: #e64c65;

/* Greens */
$green: #11a8ab;

/* Yellows */
$yellow: #fcb150;