@import '../../../styles/_colours.scss';
@import '../../../styles/_variables.scss';

.SideNav {
  border: 1px solid red;

  &__menu {

    &--item {
      margin-bottom: 1px;

      a {
        display: block;
        padding: $margin;
        background-color: $blue-39;
        &:hover {
          background-color: $blue-50;
          color: $white;
        }
      }

      &:first-child {
        a {
          border-radius: $border-radius $border-radius 0 0;
        }
      }
    }
  }
}
